body {
    background-color: #f0f2f5;
    font-family: sans-serif;
}
label{
    margin-top: 20px;
}

label, input, p {
    margin-left: 35px;
    margin-bottom: 20px;
}

.ask {
    display: flex;
}


.ask1{
    padding-top: 20px;
    width: 750px;
    height: 600px;
    background-color: #ffffff;
    margin: auto;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 10px, rgba(0, 0, 0, 0.2) 0px 0px 10px;
}



input {
    width: 90%;
    height: 25px;
    
}
.area{
    width: 90%;
    height: 300px;
    margin: auto;
    border: 1px solid black;
}

.area-nav {
    display: flex;
    height: 30px;
    align-items: center;
    
}
.area-input {
    box-sizing: border-box;
    width: 100%;
    height: 91%;
    margin: 0px;
    border-left:none;
    border-right: none;
}
i {
    margin-left: 20px;
    
}

select {
    margin-top: 50px;
    height: 30px;
    width: 100px;
}

