<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}
.about-us {
  text-align: center;
  background: url(/static/images/Capture.png);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  height: 100%;
  padding: 200px;
}

</style>
</head>
<body>

<div class="about-us">
  <h1 style="font-size: 40px;">About Us</h1>
  <p style="font-size: 18px;">Remake someone else did, only you are happy<br>Do what no one has done, the whole society is happy</p>
</div>
</body>
</html>
