<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Lót đường</title>
	<link rel="stylesheet" href="/static/index1.css">
	<link rel="stylesheet" href="/static/footer.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>
</head>
<body>
	<!-- <div class="tieude container">
		<div class="row">
			<div class="col-sm-12">
				<h4>Lót đường</h4>
				<hr>
				<h6>Coder QandA</h6>
			</div>
		</div>
	</div> -->
	<div style="background-image: url(https://thumbs.dreamstime.com/t/abstract-technology-grey-web-header-banner-concept-vector-template-circuit-board-gear-world-map-90775671.jpg)">
		<div class="tieude">
			<div class="row">
				<div class="col-sm-12">
					<h4>QandA</h4>
					<hr>
					<h6>Mindx-Hackathon<ABBR></ABBR></h6>
				</div>
			</div>
		</div>
	</div>
	<nav class="navbar navbar-expand-sm bg-dark navbar-dark mt-4 sticky-top">
	  <a class="navbar-brand pl-5" href="{{ url_for('index_user', uname = Template_uname)}}">Home</a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	  </button>
	
	  <div class="collapse navbar-collapse" id="navbarSupportedContent">
	    <ul class="navbar-nav mr-auto">
	      <li class="nav-item dropdown active text-center">
	        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	          Tự học
	        </a>
	        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
	          <a class="dropdown-item" href="#">C/C++</a>
	          <a class="dropdown-item" href="#">Java</a>
	          <a class="dropdown-item" href="#">Python</a>	
	          <a class="dropdown-item" href="#">HTML</a>
	          <a class="dropdown-item" href="#">CSS</a>
	          <a class="dropdown-item" href="#">Ruby</a>
	          <a class="dropdown-item" href="#">Javascrip</a>	
	          <a class="dropdown-item" href="#">PHP</a>
	        </div>

	      </li>
	      <li class="nav-item dropdown active text-center">
	        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	          Học cùng mentor
	        </a>
	        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
				<a class="dropdown-item" href="{{ url_for('ask', u_name = Template_uname) }}">Đặt câu hỏi</a>
	          	<a class="dropdown-item" href="{{ url_for('list_mentor') }}">DS mentor</a>
	        </div>
		  </li>
		  <li class="nav-item dropdown active text-center">
	        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	          RoadMap
	        </a>
	        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
	          <a class="dropdown-item" href="#">Front End</a>
	        </div>
		  <!-- </li>
		  <li class="nav-item dropdown active text-center">
	        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	          My Account
			</a>
			
	        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
			  <a class="dropdown-item" href="{{ url_for('nguoidung', uname = Template_uname) }}">Thông tin cá nhân</a>
			  <a class="dropdown-item" href="#">Lịch sử câu hỏi</a>
	        </div>
		  </li> -->
		</ul>
		</li>
			<li class="nav-item dropdown active ">
	  		<a class="nav-link dropdown-toggle btn btn-primary" href="{{ url_for('nguoidung', uname = Template_uname) }}" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			<img src="/static/images/user1.png" width="20px" alt="">
	  	</a>
		<div class="dropdown-menu" aria-labelledby="navbarDropdown">
			<a class="dropdown-item" href="{{ url_for('nguoidung', uname = Template_uname) }}">Thông tin cá nhân</a>
			<a class="dropdown-item" href="#">Lịch sử câu hỏi</a>
		</div>
	</li>
	  </div>
	</nav>
	{% block content %}
	{% endblock %}
	<footer id="footer" class="footer-1">
		<div class="main-footer widgets-dark typo-light">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-sm-6 col-md-3">
						<div class="widget subscribe no-box">
							<h5 class="widget-title">GROUP'S MEMBER<span></span></h5>
							<ul>
								<li>Kiều Minh Hướng</li>
								<li>Nguyễn Văn Đạo</li>
								<li>Tô Đức Quân</li>
								<li>Nguyễn Đào Duy Kiên</li>
								<li>Nguyễn Văn Chiến</li>
							</ul>
						</div>
					</div>

					<div class="col-xs-12 col-sm-6 col-md-3">
						<div class="widget no-box">
							<h5 class="widget-title">Quick Links<span></span></h5>
							<ul class="thumbnail-widget">
								<li>
									<div class="thumb-content"><a href="#.">Get Started</a></div>	
								</li>
								<li>
									<div class="thumb-content"><a href="#.">Mentors</a></div>	
								</li>
								<li>
									<div class="thumb-content"><a href="#.">Managers</a></div>	
								</li>
								<li>
									<div class="thumb-content"><a href="#.">News</a></div>	
								</li>
								<li>
									<div class="thumb-content"><a href="#.">About</a></div>	
								</li>
							</ul>
						</div>
					</div>

					<div class="col-xs-12 col-sm-6 col-md-3">
						<div class="widget no-box">
							<h5 class="widget-title">Get Started<span></span></h5>
							<p>Get access to your full Training and Study.</p>
						</div>
					</div>

					<div class="col-xs-12 col-sm-6 col-md-3">

						<div class="widget no-box">
							<h5 class="widget-title">Contact Us<span></span></h5>
							<p>Tel: +84353210133</p>
							<p><a href="https://www.facebook.com/Light.Direction/" alt="Facebook Hướng">Kieu Minh Huong</a></p>
							<ul style="display: inline-block;">
								<li><a href="https://www.facebook.com/Light.Direction/" alt="Facebook Hướng" target="_blank"><img src="https://merriam-webster.com/assets/mw/static/app-css-images/definitions/fb-footer-icon.png" alt="Facebook" style="width: 50px; height: 51px;"></a>
								</li>
								<li><a href="https://www.instagram.com/smile.223.2000/?hl=vi" alt="Instagram Đạo" target="_blank"><img src="https://merriam-webster.com/assets/mw/static/app-css-images/definitions/ig-footer-icon.png" style="width: 50px; height: 51px;"></a>
								</li>
							</ul> 
						</div>
					</div>
				</div>
			</div>
		</div>
	  
		<div class=" footer-copyright">
			<div class="container">
				<div class="row">
					<div class="col-md-12 text-center">
						<p>Hackerthon 2020.</p>
					</div>
				</div>
			</div>
		</div>
	</footer>
</body>
</html>