<head>
	<link rel="stylesheet" href="footer.css">
</head>
<body>
	<footer id="footer" class="footer-1">
		<div class="main-footer widgets-dark typo-light">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-sm-6 col-md-3">
						<div class="widget subscribe no-box">
							<h5 class="widget-title">GROUP'S MEMBER<span></span></h5>
							<ul>
								<li>Kiều Minh Hướng</li>
								<li>Nguyễn Văn Đạo</li>
								<li>Tô Đức Quân</li>
								<li>Nguyễn Đào Duy Kiên</li>
								<li>Nguyễn Văn Chiến</li>
							</ul>
						</div>
					</div>

					<div class="col-xs-12 col-sm-6 col-md-3">
						<div class="widget no-box">
							<h5 class="widget-title">Quick Links<span></span></h5>
							<ul class="thumbnail-widget">
								<li>
									<div class="thumb-content"><a href="#.">Get Started</a></div>	
								</li>
								<li>
									<div class="thumb-content"><a href="#.">Mentors</a></div>	
								</li>
								<li>
									<div class="thumb-content"><a href="#.">Managers</a></div>	
								</li>
								<li>
									<div class="thumb-content"><a href="#.">News</a></div>	
								</li>
								<li>
									<div class="thumb-content"><a href="#.">About</a></div>	
								</li>
							</ul>
						</div>
					</div>

					<div class="col-xs-12 col-sm-6 col-md-3">
						<div class="widget no-box">
							<h5 class="widget-title">Get Started<span></span></h5>
							<p>Get access to your full Training and Study.</p>
						</div>
					</div>

					<div class="col-xs-12 col-sm-6 col-md-3">

						<div class="widget no-box">
							<h5 class="widget-title">Contact Us<span></span></h5>
							<p>Tel: +84353210133</p>
							<p><a href="https://www.facebook.com/Light.Direction/" alt="Facebook Hướng">Kieu Minh Huong</a></p>
							
						</div>
					</div>
				</div>
			</div>
		</div>
	  
		<div class=" footer-copyright">
			<div class="container">
				<div class="row">
					<div class="col-md-12 text-center">
						<p>Hackerthon 2020.</p>
					</div>
				</div>
			</div>
		</div>
	</footer>
</body>