<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="static/style.css">
   
</head>
<body>
    <div class="container">
        <div class="image">
            <img src="/static/images/user.png" alt="">
        </div>
        <div class="form">
            <form class="dangnhap" method="POST">
                <h1 class="title-form">Đăng nhập tài khoản</h1>
                <label for="name" class="label">Đăng nhập</label></br>
                <input type="text" placeholder="Tên tài khoản" name="username"></br>
                <label for="pass" class="label">Mật khẩu</label></br>
                <input type="password" placeholder="Mật khẩu" name="password"></br>
                <input type="submit" name="dangnhap" value="Đăng nhập"></br>
                <div class="regis">
                    <a href="#" class="regis">Đăng kí ?</a>
                </div>
            </form>
        </div>
    </div>
</body>
</html>