{% extends "base_mentor.html" %}
{% block content %}
<h2 class="container">ALl Question</h2>
<div class="container" style="text-align: right;">
    
</div>
<div class="container">
    {% for question in template_list_questions %}
    <h3>
    <a href="chatroom/{{ question.user_ask }}">
        {{ question.title }}</a>
    </h3>
    <a><b>{{ question.user_ask}}</b> - </a>
		<a><b>{{ question.coin }} </b></a>
    <!-- <p>{{ question.user_ask}} - {{ question.coin }}</p> -->
    <p>{{ question.body }}.</p>
    <hr>
    {% endfor %}
</div>
</div>
{% endblock %}